****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [34]:
import json
import plotly.plotly as py
import plotly.graph_objs as go
import pandas as pd
from pandas.io.json import json_normalize
import plotly
plotly.tools.set_credentials_file (username = 'robmjoseph', api_key = 'pzWOCon3iXwBPurXXrDK')

#Get data into dataframe from file and assign to variable wbdf
wbdf = pd.read_json('data/world_bank_projects.json')
#Commitment is part of total though total does not indicate the commitment amount
wbdf

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{'$oid': '52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{'Percent': 46, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{'$oid': '52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Participation and civ...","[{'code': '57', 'name': 'Participation and civ...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{'$oid': '52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{'Percent': 30, 'Name': 'Export development an...","[{'code': '45', 'name': 'Export development an...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...
5,{'$oid': '52b213b38594d8a2be17c785'},2014,October,2013-10-31T00:00:00Z,REPUBLIC OF KENYA,NaN,Republic of Kenya!$!KE,KE,Republic of Kenya,Kenya,...,JB,IBRD,Active,Y,"{'Percent': 100, 'Name': 'Social safety nets'}","[{'code': '54', 'name': 'Social safety nets'}]",54,10000000,10000000,http://www.worldbank.org/projects/P146161?lang=en
6,{'$oid': '52b213b38594d8a2be17c786'},2014,October,2013-10-29T00:00:00Z,GOVERNMENT OF INDIA,2019-06-30T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,TI,IBRD,Active,N,"{'Percent': 20, 'Name': 'Administrative and ci...","[{'code': '25', 'name': 'Administrative and ci...","39,25",500000000,500000000,http://www.worldbank.org/projects/P121185/firs...
7,{'$oid': '52b213b38594d8a2be17c787'},2014,October,2013-10-29T00:00:00Z,PEOPLE'S REPUBLIC OF CHINA,NaN,People's Republic of China!$!CN,CN,People's Republic of China,China,...,LR,IBRD,Active,N,"{'Percent': 100, 'Name': 'Climate change'}","[{'code': '81', 'name': 'Climate change'}]",81,0,27280000,http://www.worldbank.org/projects/P127033/chin...
8,{'$oid': '52b213b38594d8a2be17c788'},2014,October,2013-10-29T00:00:00Z,THE GOVERNMENT OF INDIA,2018-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,TI,IBRD,Active,N,"{'Percent': 87, 'Name': 'Other rural developme...","[{'code': '79', 'name': 'Other rural developme...",79,160000000,160000000,http://www.worldbank.org/projects/P130164/raja...
9,{'$oid': '52b213b38594d8a2be17c789'},2014,October,2013-10-29T00:00:00Z,THE KINGDOM OF MOROCCO,2014-12-31T00:00:00Z,Kingdom of Morocco!$!MA,MA,Kingdom of Morocco,Morocco,...,"BM,BC,BZ",IBRD,Active,N,"{'Percent': 33, 'Name': 'Other accountability/...","[{'code': '29', 'name': 'Other accountability/...","27,30,29",200000000,200000000,http://www.worldbank.org/projects/P130903?lang=en
10,{'$oid': '52b213b38594d8a2be17c78a'},2014,October,2013-10-25T00:00:00Z,GOVERNMENT OF SOUTH SUDAN,NaN,Republic of South Sudan!$!SS,SS,Republic of South Sudan,South Sudan,...,"AZ,JB,AH",IBRD,Active,Y,"{'Percent': 100, 'Name': 'Global food crisis r...","[{'code': '91', 'name': 'Global food crisis re...",91,0,7530000,http://www.worldbank.org/projects/P145339?lang=en
11,{'$oid': '52b213b38594d8a2be17c78b'},2014,October,2013-10-25T00:00:00Z,NaN,2017-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,"JB,YC,WD,TI",IBRD,Active,N,"{'Percent': 60, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","81,87,52,78",250000000,250000000,http://www.worldbank.org/projects/P146653?lang=en
12,{'$oid': '52b213b38594d8a2be17c78c'},2014,October,2013-10-24T00:00:00Z,GOVERNMENT OF GHANA,2019-06-30T00:00:00Z,Republic of Ghana!$!GH,GH,Republic of Ghana,Ghana,...,CZ,IBRD,Active,N,"{'Percent': 0, 'Name': ''}",NaN,NaN,97000000,97000000,http://www.worldbank.org/projects/P144140/gh-e...
13,{'$oid': '52b213b38594d8a2be17c78d'},2014,October,2013-10-22T00:00:00Z,GOVERNMENT OF TIMOR LESTE,NaN,Democratic Republic of Timor-Leste!$!TP,TP,Democratic Republic of Timor-Leste,Timor-Leste,...,"BV,TI",IBRD,Active,Y,"{'Percent': 20, 'Name': 'Regional integration'}","[{'code': '47', 'name': 'Regional integration'...","78,81,47",40000000,40000000,http://www.worldbank.org/projects/P130975/timo...
14,{'$oid': '52b213b38594d8a2be17c78e'},2014,October,2013-10-22T00:00:00Z,GOVERNMENT OF JORDAN,NaN,Hashemite Kingdom of Jordan!$!JO,JO,Hashemite Kingdom of Jordan,Jordan,...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Social safety nets'}","[{'code': '54', 'name': 'Social safety nets'},...","53,56,54",0,9500000,http://www.worldbank.org/projects/P144832?lang=en
15,{'$oid': '52b213b38594d8a2be17c78f'},2014,October,2013-10-17T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Samoa!$!WS,WS,Samoa,Samoa,...,TI,IBRD,Active,N,"{'Percent': 60, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","49,81,78",20000000,20000000,http://www.worldbank.org/projects/P145545?lang=en
16,{'$oid': '52b213b38594d8a2be17c790'},2014,October,2013-10-17T00:00:00Z,MINISTRY OF FINANCE,2015-12-31T00:00:00Z,Samoa!$!WS,WS,Samoa,Samoa,...,"AZ,AJ,AH",IBRD,Active,N,"{'Percent': 100, 'Name': 'Other rural developm...","[{'code': '79', 'name': 'Other rural developme...",79,5000000,5000000,http://www.worldbank.org/projects/P145938?lang=en
17,{'$oid': '52b213b38594d8a2be17c791'},2014,October,2013-10-16T00:00:00Z,MINISTRY OF FINANCE AND BUDGET (MFB),NaN,Republic of Madagascar!$!MG,MG,Republic of Madagascar,Madagascar,...,EP,IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,0,85400000,http://www.worldbank.org/projects/P132616?lang=en
18,{'$oid': '52b213b38594d8a2be17c792'},2014,October,2013-10-16T00:00:00Z,ROYAL GOVERNMENT OF CAMBODIA,NaN,Kingdom of Cambodia!$!KH,KH,Kingdom of Cambodia,Cambodia,...,"BK,JB,BH,BC,JA",IBRD,Active,Y,"{'Percent': 17, 'Name': 'Child health'}","[{'code': '63', 'name': 'Child health'}, {'cod...","69,57,25,67,63",0,13450000,http://www.worldbank.org/projects/P146271?lang=en
19,{'$oid': '52b213b38594d8a2be17c793'},2014,October,2013-10-10T00:00:00Z,MINISTRY OF FINANCE,NaN,Kingdom of Morocco!$!MA,MA,Kingdom of Morocco,Morocco,...,"BH,BC,BZ",IBRD,Active,N,"{'Percent': 40, 'Name': 'Public expenditure, f...","[{'code': '27', 'name': 'Public expenditure, f...","25,26,27",0,4350000,http://www.worldbank.org/projects/P143979?lang=en
20,{'$oid': '52b213b38594d8a2be17c794'},2014,October,2013-10-09T00:00:00Z,AGA KHAN DEVELOPMENT NETWORK (AKDN),NaN,Kyrgyz Republic!$!KG,KG,Kyrgyz Republic,Kyrgyz Republic,...,JB,IBRD,Active,N,"{'Percent': 50, 'Name': 'Conflict prevention a...","[{'code': '58', 'name': 'Conflict prevention a...","57,58",0,2000000,http://www.worldbank.org/projects/P132577?lang=en
21,{'$oid': '52b213b38594d8a2be17c795'},2014,October,2013-10-07T00:00:00Z,NEPAL,NaN,Nepal!$!NP,NP,Nepal,Nepal,...,"BH,YW,JB",IBRD,Active,N,"{'Percent': 30, 'Name': 'Urban services and ho...","[{'code': '71', 'name': 'Urban services and ho...","57,71",0,2750000,http://www.worldbank.org/projects/P145359?lang=en
22,{'$oid': '52b213b38594d8a2be17c796'},2014,October,2013-10-07T00:00:00Z,MINISTRY OF PLANNING AND INTERNATIONAL C,NaN,Hashemite Kingdom of Jordan!$!JO,JO,Hashemite Kingdom of Jordan,Jordan,...,"WC,BS,BH,TZ,WB",IBRD,Active,N,"{'Percent': 25, 'Name': 'Other social developm...","[{'code': '62', 'name': 'Other social developm...","58,62",0,50000000,http://www.worldbank.org/projects/P147689?lang=en
23,{'$oid': '52b213b38594d8a2be17c797'},2014,October,2013-10-03T00:00:00Z,REPUBLIC OF TAJIKISTAN,NaN,Republic of Tajikistan!$!TJ,TJ,Republic of Tajikistan,Tajikistan,...,JA,IBRD,Active,N,"{'Percent': 60, 'Name': 'Nutrition and food se...","[{'code': '68', 'name': 'Nutrition and food se...","63,68",0,2800000,http://www.worldbank.org/projects/P146109?lang=en
24,{'$oid': '52b213b38594d8a2be17c798'},2014,September,2013-09-30T00:00:00Z,REPUBLIC OF AZERBAIJAN,2018-12-31T00:00:00Z,Republic of Azerbaijan!$!AZ,AZ,Republic of Azerbaijan,Azerbaijan,...,"AB,AZ,YA",IBRD,Active,N,"{'Percent': 30, 'Name': 'Rural markets'}","[{'code': '75', 'name': 'Rural markets'}, {'co...","56,78,76,75",34500000,34500000,http://www.worldbank.org/projects/P122812/thir...
25,{'$oid': '52b213b38594d8a2be17c799'},2014,September,2013-09-30T00:00:00Z,UNIVERSITY OF QUEENSLAND,NaN,East Asia and Pacific!$!4E,4E,East Asia and Pacific,East Asia and Pacific,...,"AB,AZ",IBRD,Active,N,"{'Percent': 40, 'Name': 'Other environment and...","[{'code': '86', 'name': 'Other environment and...","80,81,86",0,4500000,http://www.worldbank.org/projects/P123933/capt...
26,{'$oid': '52b213b38594d8a2be17c79a'},2014,September,2013-09-30T00:00:00Z,LAO PEOPLES DEMOCRATIC REPUBLIC,2014-03-31T00:00:00Z,Lao People's Democratic Republic!$!LA,LA,Lao People's Democratic Republic,Lao People's Democratic Republic,...,"LG,FB,EZ,YZ,BC",IBRD,Closed,N,"{'Percent': 14, 'Name': 'Regulation and compet...","[{'code': '40', 'name': 'Regulation and compet...","67,27,49,40",20000000,20000000,http://www.worldbank.org/projects/P143025/lao-...
27,{'$oid': '52b213b38594d8a2be17c79b'},2014,September,2013-09-30T00:00:00Z,PACIFIC AVIATION SECURITY OFFICE,2018-12-31T00:00:00Z,Pacific Islands!$!4P,4P,Pacific Islands,Pacific Islands,...,"BV,TV",IBRD,Active,N,"{'Percent': 5, 'Name': 'Climate change'}","[{'code': '81', 'name': 'Climate change'}, {'c...","52,47,25,81",2150000,2150000,http://www.worldbank.org/projects/P145057/paci...
28,{'$oid': '52b213b38594d8a2be17c79c'},2014,September,2013-09-30T00:00:00Z,SOLOMON ISLANDS GOVERNMENT,NaN,Solomon Islands!$!SB,SB,Solomon Islands,Solomon Islands,...,"BZ,AZ",IBRD,Active,Y,"{'Percent': 30, 'Name': 'Rural policies and in...","[{'code': '77', 'name': 'Rural policies and in...","57,78,77",3000000,3000000,http://www.worldbank.org/projects/P146021?lang=en
29,{'$oid': '52b213b38594d8a2be17c79d'},2014,September,2013-09-27T00:00:00Z,GOVERNMENT OF MOZAMBIQUE,NaN,Republic of Mozambique!$!MZ,MZ,Republic of Mozambique,Mozambique,...,"JB,BW,WZ,WD",IBRD,Active,Y,"{'Percent': 4, 'Name': 'Other social developme...","[{'code': '62', 'name': 'Other social developm...","85,62",32000000,32000000,http://www.worldbank.org/projects/P146098?lang=en
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
470,{'$oid': '52b213b38594d8a2be17c956'},2013,September,2012-09-20T00:00:00Z,GOVERNMENT OF LIBERIA,NaN,Republic of Liberia!$!LR,LR,Republic of Liberia,Liberia,...,"BV,TI",IBRD,Active,Y,"{'Percent': 40, 'Name': 'Trade facilitation an...","[{'code': '49', 'name': 'Trade facilitation an...","78,49",50000000,50000000,http://www.worldbank.org/projects/P129654/libe...
471,{'$oid': '52b213b38594d8a2be17c957'},2013,September,2012-09-20T00:00:00Z,GOVERNMENT OF BANGLADESH,2018-12-31T00:00:00Z,People's Republic of Bangladesh!$!BD,BD,People's Republic of Bangladesh,Bangladesh,...,"BU,LA,LR",IBRD,Active,N,"{'Percent': 45, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","59,81,57,78",155000000,155000000,http://www.worldbank.org/projects/P131263/rura...
472,{'$oid': '52b213b38594d8a2be17c958'},2013,September,2012-09-13T00:00:00Z,MINISTRY OF NATURE PROTECTION,2014-09-30T00:00:00Z,Republic of Armenia!$!AM,AM,Republic of Armenia,Armenia,...,BC,IBRD,Active,N,"{'Percent': 100, 'Name': 'Other environment an...","[{'code': '86', 'name': 'Other environment and...",86,0,150000,http://www.worldbank.org/projects/P131631/repo...
473,{'$oid': '52b213b38594d8a2be17c959'},2013,September,2012-09-13T00:00:00Z,"MINISTRY OF ENVIRONMENT, FORESTS, WATER",NaN,Republic of Albania!$!AL,AL,Republic of Albania,Albania,...,BC,IBRD,Active,N,"{'Percent': 100, 'Name': 'Other environment an...","[{'code': '86', 'name': 'Other environment and...",86,0,150000,http://www.worldbank.org/projects/P132679/land...
474,{'$oid': '52b213b38594d8a2be17c95a'},2013,September,2012-09-11T00:00:00Z,GOVERNMENT OF PAKISTAN,2017-06-30T00:00:00Z,Islamic Republic of Pakistan!$!PK,PK,Islamic Republic of Pakistan,Pakistan,...,"BM,BH",IBRD,Active,N,"{'Percent': 34, 'Name': 'Municipal finance'}","[{'code': '72', 'name': 'Municipal finance'}, ...","73,72",150000000,150000000,http://www.worldbank.org/projects/P112901/pk-p...
475,{'$oid': '52b213b38594d8a2be17c95b'},2013,September,2012-09-11T00:00:00Z,GOVERNMENT OF INDONESIA,2018-03-31T00:00:00Z,Republic of Indonesia!$!ID,ID,Republic of Indonesia,Indonesia,...,"BO,BH,LZ,TZ,WZ",IBRD,Active,N,"{'Percent': 25, 'Name': 'Infrastructure servic...","[{'code': '39', 'name': 'Infrastructure servic...","72,39",29600000,29600000,http://www.worldbank.org/projects/P118916/infr...
476,{'$oid': '52b213b38594d8a2be17c95c'},2013,September,2012-09-11T00:00:00Z,SOCIALIST REPUBLIC OF VIETNAM,2018-12-31T00:00:00Z,Socialist Republic of Vietnam!$!VN,VN,Socialist Republic of Vietnam,Vietnam,...,"BU,LT,LA",IBRD,Active,N,"{'Percent': 100, 'Name': 'Rural services and i...","[{'code': '78', 'name': 'Rural services and in...",78,448900000,448900000,http://www.worldbank.org/projects/P125996/dist...
477,{'$oid': '52b213b38594d8a2be17c95d'},2013,September,2012-09-11T00:00:00Z,REPUBLIC OF UZBEKISTAN,NaN,Republic of Uzbekistan!$!UZ,UZ,Republic of Uzbekistan,Uzbekistan,...,FH,IBRD,Active,Y,"{'Percent': 40, 'Name': 'Micro, Small and Medi...","[{'code': '41', 'name': 'Micro, Small and Medi...","75,41",40000000,40000000,http://www.worldbank.org/projects/P126962/addi...
478,{'$oid': '52b213b38594d8a2be17c95e'},2013,September,2012-09-11T00:00:00Z,ISLAMIC REPUBLIC OF PAKISTAN,NaN,Islamic Republic of Pakistan!$!PK,PK,Islamic Republic of Pakistan,Pakistan,...,BH,IBRD,Active,Y,"{'Percent': 10, 'Name': 'Administrative and ci...","[{'code': '25', 'name': 'Administrative and ci...","83,36,25",70000000,70000000,http://www.worldbank.org/projects/P131266/punj...
479,{'$oid': '52b213b38594d8a2be17c95f'},2013,September,2012-09-10T00:00:00Z,UT'Z CHE,2016-05-07T00:00:00Z,Republic of Guatemala!$!GT,GT,Republic of Guatemala,Guatemala,...,AZ,IBRD,Active,N,"{'Percent': 100, 'Name': 'Other social develop...","[{'code': '62', 'name': 'Other social developm...",62,0,2510000,http://www.worldbank.org/projects/P130412/stre...
480,{'$oid': '52b213b38594d8a2be17c960'},2013,September,2012-09-10T00:00:00Z,GOVERNMENT OF ZAMBIA,2014-12-31T00:00:00Z,Republic of Zambia!$!ZM,ZM,Republic of Zambia,Zambia,...,LS,IBRD,Active,N,"{'Percent': 100, 'Name': 'Other public sector ...","[{'code': '30', 'name': 'Other public sector g...",30,0,350000,http://www.worldbank.org/projects/P131881/zamb...
481,{'$oid': '52b213b38594d8a2be17c961'},2013,September,2012-09-06T00:00:00Z,GOVERNMENT OF INDIA,2015-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,"BC,EC,BQ,BH",IBRD,Active,N,"{'Percent': 23, 'Name': 'Child health'}","[{'code': '63', 'name': 'Child health'}, {'cod...","68,59,57,63",106000000,106000000,http://www.worldbank.org/projects/P121731/icds...
482,{'$oid': '52b213b38594d8a2be17c962'},2013,September,2012-09-06T00:00:00Z,GOVERNMENT OF INDIA,2018-12-31T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,"AI,YA,AH,BL,AB",IBRD,Active,N,"{'Percent': 10, 'Name': 'Rural services and in...","[{'code': '78', 'name': 'Rural services and in...","79,85,86,78",60000000,60000000,http://www.worldbank.org/projects/P122486/karn...
483,{'$oid': '52b213b38594d8a2be17c963'},2013,September,2012-09-06T00:00:00Z,GOVERNMENT OF INDIA,2013-09-30T00:00:00Z,Republic of India!$!IN,IN,Republic of India,India,...,"CZ,AH,LA,AI,LH",IBRD,Closed,N,"{'Percent': 19, 'Name': 'Pollution management ...","[{'code': '84', 'name': 'Pollution management ...","82,78,81,84",100000000,100000000,http://www.worldbank.org/projects/P124041/hima...
484,{'$oid': '52b213b38594d8a2be17c964'},2013,September,2012-09-06T00:00:00Z,"ILO, MINLAND & CFSI & BANK",2015-12-31T00:00:00Z,Republic of the Philippines!$!PH,PH,Republic of the Philippines,Philippines,...,"EV,FH,BZ,JB",IBRD,Active,Y,"{'Percent': 9, 'Name': 'Rural non-farm income ...","[{'code': '76', 'name': 'Rural non-farm income...","78,58,41,76",0,5570000,http://www.worldbank.org/projects/P132238/mult...
485,{'$oid': '52b213b38594d8a2be17c965'},2013,September,2012-09-05T00:00:00Z,GOVERNMENT OF MONGOLIA,2013-12-31T00:00:00Z,Mongolia!$!MN,MN,Mongolia,Mongolia,...,"BZ,JA,AJ",IBRD,Active,N,"{'Percent': 100, 'Name': 'Other communicable d...","[{'code': '64', 'name': 'Other communicable di...",64,0,2900000,http://www.worldbank.org/projects/P131204/capa...
486,{'$oid': '52b213b38594d8a2be17c966'},2013,September,2012-09-01T00:00:00Z,GOVERNMENT OF LEBANON & JORDAN,2015-01-31T00:00:00Z,Middle East and North Africa!$!5M,5M,Middle East and North Africa,Middle East and North Africa,...,"BZ,BS,BQ,BN",IBRD,Active,N,"{'Percent': 25, 'Name': 'Other public sector g...","[{'code': '30', 'name': 'Other public sector g...","54,55,56,30",0,2400000,http://www.worldbank.org/projects/P132097/5m-d...
487,{'$oid': '52b213b38594d8a2be17c967'},2013,August,2012-08-30T00:00:00Z,UNITED MEXICAN STATES,2017-08-31T00:00:00Z,United Mexican States!$!MX,MX,United Mexican States,Mexico,...,"YA,BL,AB",IBRD,Active,N,"{'Percent': 20, 'Name': 'Biodiversity'}","[{'code': '80', 'name': 'Biodiversity'}, {'cod...","82,79,77,80",0,11690000,http://www.worldbank.org/projects/P121116/sust...
488,{'$oid': '52b213b38594d8a2be17c968'},2013,August,2012-08-30T00:00:00Z,THE STATE OF RIO DE JANEIRO,2014-01-31T00:00:00Z,Federative Republic of Brazil!$!BR,BR,Federative Republic of Brazil,Brazil,...,"JA,EZ,BH",IBRD,Closed,N,"{'Percent': 20, 'Name': 'Health system perform...","[{'code': '67', 'name': 'Health system perform...","65,28,27,67",300000000,300000000,http://www.worldbank.org/projects/P126465/rio-...
489,{'$oid': '52b213b38594d8a2be17c969'},2013,August,2012-08-30T00:00:00Z,UN-HABITAT,2015-06-30T00:00:00Z,The Independent State of Papua New Guine!$!PG,PG,The Independent State of Papua New Guine,Papua New Guinea,...,BW,IBRD,Closed,N,"{'Percent': 50, 'Name': 'Urban services and ho...","[{'code': '71', 'name': 'Urban services and ho...","73,55,52,71",0,350000,http://www.worldbank.org/projects/P128763/papu...
490,{'$oid': '52b213b38594d8a2be17c96a'},2013,August,2012-08-29T00:00:00Z,GOVERNMENT OF NEPAL,2014-06-30T00:00:00Z,Nepal!$!NP,NP,Nepal,Nepal,...,BZ,IBRD,Active,N,"{'Percent': 80, 'Name': 'Public expenditure, f...","[{'code': '27', 'name': 'Public expenditure, f...","29,27",0,800000,http://www.worldbank.org/projects/P131860/stre...
491,{'$oid': '52b213b38594d8a2be17c96b'},2013,August,2012-08-24T00:00:00Z,PALESTINIAN WATER AUTHORITY,2014-03-31T00:00:00Z,West Bank and Gaza!$!GZ,GZ,West Bank and Gaza,West Bank and Gaza,...,"WC,WA",IBRD,Active,N,"{'Percent': 100, 'Name': 'Rural services and i...","[{'code': '78', 'name': 'Rural services and in...",78,0,3650000,http://www.worldbank.org/projects/P123322/wate...

In analyzing the data there were regions that were being identified as countries. These countries could be identified by the 'countrycode' variable that began with a number versus a letter. Regex was used in the code below to select the rows that had a 'countrycode' identifier consisting of only letters.

In [35]:
#Countrycodes that represent countries and not regions
wbdf[wbdf.countrycode.str.contains(r'[A-Z]{2}')][['countrycode', 'countryshortname']]

    countrycode                  countryshortname
0            ET                          Ethiopia
1            TN                           Tunisia
2            TV                            Tuvalu
3            RY                Yemen, Republic of
4            LS                           Lesotho
5            KE                             Kenya
6            IN                             India
7            CN                             China
8            IN                             India
9            MA                           Morocco
10           SS                       South Sudan
11           IN                             India
12           GH                             Ghana
13           TP                       Timor-Leste
14           JO                            Jordan
15           WS                             Samoa
16           WS                             Samoa
17           MG                        Madagascar
18           KH                          Cambodia
19           MA                           Morocco
20           KG                   Kyrgyz Republic
21           NP                             Nepal
22           JO                            Jordan
23           TJ                        Tajikistan
24           AZ                        Azerbaijan
26           LA  Lao People's Democratic Republic
28           SB                   Solomon Islands
29           MZ                        Mozambique
30           AO                            Angola
31           TZ                          Tanzania
..          ...                               ...
469          HR                           Croatia
470          LR                           Liberia
471          BD                        Bangladesh
472          AM                           Armenia
473          AL                           Albania
474          PK                          Pakistan
475          ID                         Indonesia
476          VN                           Vietnam
477          UZ                        Uzbekistan
478          PK                          Pakistan
479          GT                         Guatemala
480          ZM                            Zambia
481          IN                             India
482          IN                             India
483          IN                             India
484          PH                       Philippines
485          MN                          Mongolia
487          MX                            Mexico
488          BR                            Brazil
489          PG                  Papua New Guinea
490          NP                             Nepal
491          GZ                West Bank and Gaza
492          PK                          Pakistan
493          BD                        Bangladesh
494          NP                             Nepal
495          JM                           Jamaica
496          LA  Lao People's Democratic Republic
497          GN                            Guinea
498          ID                         Indonesia
499          KE                             Kenya

[475 rows x 2 columns]

Solution #1
Arrived at solution by counting the values of 'countryshortname' column after fitering out the countrycodes that represent regions, then called 'head' function to get the top 10.

In [36]:
#Eliminate countrycodes that represent regions in the data, count values, and get top 10
wbdf[wbdf.countrycode.str.contains(r'[A-Z]{2}')]['countryshortname'].value_counts().head(10)

China                 19
Indonesia             19
Vietnam               17
India                 16
Yemen, Republic of    13
Bangladesh            12
Morocco               12
Nepal                 12
Mozambique            11
Brazil                 9
Name: countryshortname, dtype: int64

Used dataframe to plot histogram

In [37]:
#Histogram of projects vs country

wb_reindexed = pd.DataFrame(wbdf[wbdf.countrycode.str.contains(r'[A-Z]{2}')]['countryshortname'].value_counts().head(10)).reset_index()
wb_reindexed.columns = ['COUNTRY', 'PROJECTS']
data = [go.Bar(
            x=wb_reindexed.COUNTRY,
            y=wb_reindexed.PROJECTS
    )]
py.iplot(data)

Solution #2
Create new dataFrame using pandas and list comprehension to add dictionaries to table with code and name columns.
Select data using Group-by code and name and count code using size.
Sort values in descending order so that highest counts are on top.
Use head to get the top ten items.

In [38]:
#The mjtheme_namecode column
wbdf.mjtheme_namecode

0      [{'code': '8', 'name': 'Human development'}, {...
1      [{'code': '1', 'name': 'Economic management'},...
2      [{'code': '5', 'name': 'Trade and integration'...
3      [{'code': '7', 'name': 'Social dev/gender/incl...
4      [{'code': '5', 'name': 'Trade and integration'...
5      [{'code': '6', 'name': 'Social protection and ...
6      [{'code': '2', 'name': 'Public sector governan...
7      [{'code': '11', 'name': 'Environment and natur...
8      [{'code': '10', 'name': 'Rural development'}, ...
9      [{'code': '2', 'name': 'Public sector governan...
10     [{'code': '10', 'name': 'Rural development'}, ...
11     [{'code': '10', 'name': 'Rural development'}, ...
12                           [{'code': '4', 'name': ''}]
13     [{'code': '5', 'name': 'Trade and integration'...
14     [{'code': '6', 'name': 'Social protection and ...
15     [{'code': '10', 'name': 'Rural development'}, ...
16     [{'code': '10', 'name': 'Rural development'}, ...
17     [{'code': '8', 'name': 'Human development'}, {...
18     [{'code': '8', 'name': 'Human development'}, {...
19     [{'code': '2', 'name': 'Public sector governan...
20     [{'code': '7', 'name': 'Social dev/gender/incl...
21     [{'code': '9', 'name': 'Urban development'}, {...
22     [{'code': '7', 'name': 'Social dev/gender/incl...
23     [{'code': '8', 'name': 'Human development'}, {...
24     [{'code': '10', 'name': 'Rural development'}, ...
25     [{'code': '11', 'name': 'Environment and natur...
26     [{'code': '4', 'name': 'Financial and private ...
27     [{'code': '11', 'name': 'Environment and natur...
28     [{'code': '10', 'name': 'Rural development'}, ...
29     [{'code': '7', 'name': 'Social dev/gender/incl...
                             ...
470    [{'code': '5', 'name': 'Trade and integration'...
471    [{'code': '10', 'name': 'Rural development'}, ...
472    [{'code': '11', 'name': 'Environment and natur...
473    [{'code': '11', 'name': 'Environment and natur...
474    [{'code': '9', 'name': 'Urban development'}, {...
475    [{'code': '4', 'name': 'Financial and private ...
476    [{'code': '10', 'name': 'Rural development'}, ...
477    [{'code': '4', 'name': 'Financial and private ...
478    [{'code': '2', 'name': 'Public sector governan...
479    [{'code': '7', 'name': 'Social dev/gender/incl...
480    [{'code': '2', 'name': 'Public sector governan...
481    [{'code': '8', 'name': 'Human development'}, {...
482    [{'code': '10', 'name': 'Rural development'}, ...
483    [{'code': '11', 'name': 'Environment and natur...
484    [{'code': '10', 'name': 'Rural development'}, ...
485    [{'code': '8', 'name': 'Human development'}, {...
486    [{'code': '2', 'name': 'Public sector governan...
487    [{'code': '11', 'name': 'Environment and natur...
488    [{'code': '8', 'name': 'Human development'}, {...
489    [{'code': '9', 'name': 'Urban development'}, {...
490    [{'code': '2', 'name': 'Public sector governan...
491    [{'code': '10', 'name': 'Rural development'}, ...
492    [{'code': '8', 'name': 'Human development'}, {...
493    [{'code': '11', 'name': 'Environment and natur...
494    [{'code': '6', 'name': 'Social protection and ...
495    [{'code': '4', 'name': 'Financial and private ...
496    [{'code': '8', 'name': 'Human development'}, {...
497    [{'code': '10', 'name': 'Rural development'}, ...
498    [{'code': '10', 'name': 'Rural development'}, ...
499    [{'code': '9', 'name': 'Urban development'}, {...
Name: mjtheme_namecode, Length: 500, dtype: object

In [39]:
#List comprehension to access list then dictionaries so that pandas could access dictionary values. Grouped by code and name, then sorted for top values
pd.DataFrame([x for x in wbdf.mjtheme_namecode for x in x]).groupby(['code', 'name']).size().sort_values(ascending = False).head(10)

code  name
11    Environment and natural resources management    223
10    Rural development                               202
8     Human development                               197
2     Public sector governance                        184
6     Social protection and risk management           158
4     Financial and private sector development        130
7     Social dev/gender/inclusion                     119
5     Trade and integration                            72
9     Urban development                                47
1     Economic management                              33
dtype: int64

Solution #3

Arrived at solution by using the dataframe created in #2 and setting the row names without a value to 'None' to allow for the ffill() operation. Performed a sort_values on the 'code' column and applied ffill() operation to fill the values forward. Ran a groupby on 'code' and 'name' columns to once more answer question #2 after the cleaning operation.

In [40]:
#Assign variable to dataframe used in question 2
new_df = pd.DataFrame([x for x in wbdf.mjtheme_namecode for x in x])

In [41]:
#Set name column items without names to 'None'
new_df.name[new_df.name == ''] = None

In [42]:
#Sorted dataframe by code and filled code forward on 'None' values using 'ffill' method
csdf = new_df.sort_values('code').ffill()

In [43]:
#Solution #2 with missing values filled
csdf.groupby(['code', 'name']).size().sort_values(ascending = False).head(10)

code  name
11    Environment and natural resources management    250
10    Rural development                               216
8     Human development                               210
2     Public sector governance                        199
6     Social protection and risk management           168
4     Financial and private sector development        146
7     Social dev/gender/inclusion                     130
5     Trade and integration                            77
9     Urban development                                50
1     Economic management                              38
dtype: int64

In [44]:
#Display new dataframe
csdf

     code                 name
458     1  Economic management
1235    1  Economic management
1230    1  Economic management
1229    1  Economic management
1218    1  Economic management
900     1  Economic management
648     1  Economic management
647     1  Economic management
1078    1  Economic management
1206    1  Economic management
1437    1  Economic management
357     1  Economic management
363     1  Economic management
1010    1  Economic management
784     1  Economic management
1024    1  Economic management
88      1  Economic management
1045    1  Economic management
497     1  Economic management
1056    1  Economic management
1057    1  Economic management
1114    1  Economic management
454     1  Economic management
453     1  Economic management
1257    1  Economic management
1260    1  Economic management
1212    1  Economic management
249     1  Economic management
841     1  Economic management
220     1  Economic management
...   ...                  ...
669     9    Urban development
1303    9    Urban development
1347    9    Urban development
460     9    Urban development
1342    9    Urban development
183     9    Urban development
200     9    Urban development
1318    9    Urban development
1290    9    Urban development
585     9    Urban development
737     9    Urban development
822     9    Urban development
369     9    Urban development
597     9    Urban development
53      9    Urban development
598     9    Urban development
356     9    Urban development
354     9    Urban development
962     9    Urban development
738     9    Urban development
512     9    Urban development
742     9    Urban development
1428    9    Urban development
333     9    Urban development
1426    9    Urban development
1425    9    Urban development
447     9    Urban development
739     9    Urban development
341     9    Urban development
1102    9    Urban development

[1499 rows x 2 columns]

World Map Plot

A world map plot was created to show the cost and location of projects that were being undertaken. To get the data to display, a new dataframe was created with 'countryshortname' and 'totalcommamt' and data from an example on the plotly website was read into a dataframe, globe_df. The useful data in this file were the 3-digit country codes that allowed the plots on the map. The name of the columns on the 'cnt' dataframe had to be changed to have an identical column on which the merge operation could be performed, and 'COUNTRY'was used by changing 'countryshortname'. The 'totalcommamt' column was used due to the data in that column being the best representation of the total, since some values from the 'totalamt' column of the original dataset had 0 values, even though there were commitment values for each row, and the 'totalamt' included the 'totalcommamt' according to the data on the website. That column name was changed to 'LOAN'.

Having multiple values for country and multiple dollar amounts, a new dataframe was created with country and dollar amounts combined and summed. Yet another dataframe was created that was reindexed to facilitate the merge operation, and finally the merge was done on the 'COUNTRY' column. The 'COUNTRY', 'CODE', and 'LOAN' columns were then used to plot the data on the map.

In [45]:
import plotly
plotly.tools.set_credentials_file (username = 'robmjoseph', api_key = 'pzWOCon3iXwBPurXXrDK')

In [46]:
#Create new Dataframe with countryshortname and totalamt to prepare for merge with country data
cnt = wbdf[['countryshortname', 'totalcommamt']].sort_values(by='countryshortname')

In [47]:
#Read in data file containing country codes that can be used on world map
globe_df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_world_gdp_with_codes.csv')

In [48]:
#Display data from file
globe_df

                    COUNTRY  GDP (BILLIONS) CODE
0               Afghanistan           21.71  AFG
1                   Albania           13.40  ALB
2                   Algeria          227.80  DZA
3            American Samoa            0.75  ASM
4                   Andorra            4.80  AND
5                    Angola          131.40  AGO
6                  Anguilla            0.18  AIA
7       Antigua and Barbuda            1.24  ATG
8                 Argentina          536.20  ARG
9                   Armenia           10.88  ARM
10                    Aruba            2.52  ABW
11                Australia         1483.00  AUS
12                  Austria          436.10  AUT
13               Azerbaijan           77.91  AZE
14             Bahamas, The            8.65  BHM
15                  Bahrain           34.05  BHR
16               Bangladesh          186.60  BGD
17                 Barbados            4.28  BRB
18                  Belarus           75.25  BLR
19                  Belgium          527.80  BEL
20                   Belize            1.67  BLZ
21                    Benin            9.24  BEN
22                  Bermuda            5.20  BMU
23                   Bhutan            2.09  BTN
24                  Bolivia           34.08  BOL
25   Bosnia and Herzegovina           19.55  BIH
26                 Botswana           16.30  BWA
27                   Brazil         2244.00  BRA
28   British Virgin Islands            1.10  VGB
29                   Brunei           17.43  BRN
..                      ...             ...  ...
192                  Sweden          559.10  SWE
193             Switzerland          679.00  CHE
194                   Syria           64.70  SYR
195                  Taiwan          529.50  TWN
196              Tajikistan            9.16  TJK
197                Tanzania           36.62  TZA
198                Thailand          373.80  THA
199             Timor-Leste            4.51  TLS
200                    Togo            4.84  TGO
201                   Tonga            0.49  TON
202     Trinidad and Tobago           29.63  TTO
203                 Tunisia           49.12  TUN
204                  Turkey          813.30  TUR
205            Turkmenistan           43.50  TKM
206                  Tuvalu            0.04  TUV
207                  Uganda           26.09  UGA
208                 Ukraine          134.90  UKR
209    United Arab Emirates          416.40  ARE
210          United Kingdom         2848.00  GBR
211           United States        17420.00  USA
212                 Uruguay           55.60  URY
213              Uzbekistan           63.08  UZB
214                 Vanuatu            0.82  VUT
215               Venezuela          209.20  VEN
216                 Vietnam          187.80  VNM
217          Virgin Islands            5.08  VGB
218               West Bank            6.64  WBG
219                   Yemen           45.45  YEM
220                  Zambia           25.61  ZMB
221                Zimbabwe           13.74  ZWE

[222 rows x 3 columns]

In [49]:
#Change the names of the columns of the cnt Dataframe to COUNTRY and LOAN in preparation for merge operation
cnt.columns = ['COUNTRY', 'LOAN']

In [50]:
#Display Dataframe with new names
cnt

                 COUNTRY       LOAN
64           Afghanistan   50000000
136          Afghanistan   12500000
367          Afghanistan  100000000
93           Afghanistan   74730000
306          Afghanistan  100000000
285          Afghanistan   55000000
99                Africa   60000000
167               Africa   60000000
65                Africa  339900000
287               Africa   90000000
58                Africa    2000000
51                Africa    4630000
46                Africa   22000000
45                Africa   10000000
449               Africa  203000000
184               Africa  213000000
353               Africa   15300000
348              Albania    4170000
135              Albania     350000
383              Albania   40000000
473              Albania     150000
30                Angola   75000000
151  Antigua and Barbuda   10000000
72             Argentina    1900000
38             Argentina    3960000
347              Armenia     900000
94               Armenia     200000
332              Armenia    2670000
330              Armenia   45000000
234              Armenia     300000
..                   ...        ...
282              Vietnam  250000000
249              Vietnam    6500000
350              Vietnam   84600000
333              Vietnam  156000000
491   West Bank and Gaza    3650000
389   West Bank and Gaza    6400000
177   West Bank and Gaza   10000000
178   West Bank and Gaza   40000000
37    West Bank and Gaza   10000000
69    West Bank and Gaza    5000000
55                 World    3000000
238                World    3120000
143   Yemen, Republic of     300000
3     Yemen, Republic of    1500000
318   Yemen, Republic of  100000000
144   Yemen, Republic of    3000000
190   Yemen, Republic of    5000000
317   Yemen, Republic of   66000000
314   Yemen, Republic of   40000000
50    Yemen, Republic of   19000000
301   Yemen, Republic of     200000
246   Yemen, Republic of   25000000
76    Yemen, Republic of   20000000
418   Yemen, Republic of    2730000
239   Yemen, Republic of     300000
204               Zambia   36000000
480               Zambia     350000
169               Zambia  105000000
228               Zambia   50000000
89              Zimbabwe   20000000

[500 rows x 2 columns]

In [51]:
#Groupby on COUNTRY and sum multiple loan values for each country
fil_df = cnt.groupby('COUNTRY')['LOAN'].sum()

In [52]:
#Create a new Dataframe with a new index in preparation for merge operation
fil2_df = pd.DataFrame(fil_df).reset_index()

In [53]:
#Output Dataframe
fil2_df

                           COUNTRY        LOAN
0                      Afghanistan   392230000
1                           Africa  1019830000
2                          Albania    44670000
3                           Angola    75000000
4              Antigua and Barbuda    10000000
5                        Argentina     5860000
6                          Armenia   114220000
7                       Azerbaijan   301850000
8                       Bangladesh  1632240000
9                          Belarus    90000000
10                           Benin    97560000
11                          Bhutan    50370000
12                         Bolivia    74000000
13          Bosnia and Herzegovina    34100000
14                          Brazil  2326200000
15                    Burkina Faso   346260000
16                         Burundi    58450000
17                        Cambodia    14180000
18                        Cameroon   158000000
19                      Cape Verde    19000000
20        Central African Republic      250000
21                            Chad    15000000
22                           Chile     5860000
23                           China  1966810000
24                        Colombia   950000000
25                         Comoros    13000000
26   Congo, Democratic Republic of   557450000
27              Congo, Republic of    10000000
28                      Costa Rica   200000000
29                   Cote d'Ivoire   162700000
..                             ...         ...
88           Sao Tome and Principe     5600000
89                         Senegal   118000000
90                          Serbia   100000000
91                      Seychelles    14000000
92                    Sierra Leone    29000000
93                 Solomon Islands     5300000
94                      South Asia    99480000
95                     South Sudan    78530000
96                       Sri Lanka   200000000
97                           Sudan    83380000
98                      Tajikistan    95600000
99                        Tanzania   612440000
100                       Thailand     3000000
101                    Timor-Leste    57700000
102                           Togo    23840000
103                          Tonga     1800000
104                        Tunisia   509570000
105                         Turkey  1304640000
106                         Tuvalu     6060000
107                         Uganda   265000000
108                        Ukraine   461500000
109                        Uruguay   366000000
110                     Uzbekistan   327700000
111                        Vanuatu    10810000
112                        Vietnam  1950640000
113             West Bank and Gaza    75050000
114                          World     6120000
115             Yemen, Republic of   283030000
116                         Zambia   191350000
117                       Zimbabwe    20000000

[118 rows x 2 columns]

In [54]:
#Perform merge operation on 'fil2_df' and 'globe-df' Dataframes on 'COUNTRY' column
merged_df = pd.merge(fil2_df, globe_df, on='COUNTRY')

In [55]:
#Display merged Dataframe
merged_df[['COUNTRY', 'CODE', 'LOAN']]

                     COUNTRY CODE        LOAN
0                Afghanistan  AFG   392230000
1                    Albania  ALB    44670000
2                     Angola  AGO    75000000
3        Antigua and Barbuda  ATG    10000000
4                  Argentina  ARG     5860000
5                    Armenia  ARM   114220000
6                 Azerbaijan  AZE   301850000
7                 Bangladesh  BGD  1632240000
8                    Belarus  BLR    90000000
9                      Benin  BEN    97560000
10                    Bhutan  BTN    50370000
11                   Bolivia  BOL    74000000
12    Bosnia and Herzegovina  BIH    34100000
13                    Brazil  BRA  2326200000
14              Burkina Faso  BFA   346260000
15                   Burundi  BDI    58450000
16                  Cambodia  KHM    14180000
17                  Cameroon  CMR   158000000
18  Central African Republic  CAF      250000
19                      Chad  TCD    15000000
20                     Chile  CHL     5860000
21                     China  CHN  1966810000
22                  Colombia  COL   950000000
23                   Comoros  COM    13000000
24                Costa Rica  CRI   200000000
25             Cote d'Ivoire  CIV   162700000
26                   Croatia  HRV   344250000
27                  Djibouti  DJI    19040000
28                   Ecuador  ECU   305000000
29                  Ethiopia  ETH  1245000000
..                       ...  ...         ...
70                    Poland  POL  1307800000
71                   Romania  ROU    91800000
72                    Rwanda  RWA   160000000
73                     Samoa  WSM    54800000
74     Sao Tome and Principe  STP     5600000
75                   Senegal  SEN   118000000
76                    Serbia  SRB   100000000
77                Seychelles  SYC    14000000
78              Sierra Leone  SLE    29000000
79           Solomon Islands  SLB     5300000
80               South Sudan  SSD    78530000
81                 Sri Lanka  LKA   200000000
82                     Sudan  SDN    83380000
83                Tajikistan  TJK    95600000
84                  Tanzania  TZA   612440000
85                  Thailand  THA     3000000
86               Timor-Leste  TLS    57700000
87                      Togo  TGO    23840000
88                     Tonga  TON     1800000
89                   Tunisia  TUN   509570000
90                    Turkey  TUR  1304640000
91                    Tuvalu  TUV     6060000
92                    Uganda  UGA   265000000
93                   Ukraine  UKR   461500000
94                   Uruguay  URY   366000000
95                Uzbekistan  UZB   327700000
96                   Vanuatu  VUT    10810000
97                   Vietnam  VNM  1950640000
98                    Zambia  ZMB   191350000
99                  Zimbabwe  ZWE    20000000

[100 rows x 3 columns]

In [57]:
#Plot of LOAN amounts on world map by CODE
data = [ dict(
        type = 'choropleth',
        locations = merged_df['CODE'],
        z = merged_df['LOAN'],
        text = merged_df['COUNTRY'],
        colorscale = [[0,"rgb(5, 10, 172)"],[0.35,"rgb(40, 60, 190)"],[0.5,"rgb(70, 100, 245)"],\
            [0.6,"rgb(90, 120, 245)"],[0.7,"rgb(106, 137, 247)"],[1,"rgb(220, 220, 220)"]],
        autocolorscale = False,
        reversescale = True,
        marker = dict(
            line = dict (
                color = 'rgb(180,180,180)',
                width = 0.5
            ) ),
        colorbar = dict(
            autotick = False,
            tickprefix = '$',
            title = 'LOANS<br>Billions US$'),
      ) ]

layout = dict(
    title = 'World Bank Data',
    geo = dict(
        showframe = True,
        showcoastlines = True,
        projection = dict(
            type = 'Mercator'
        )
    )
)

fig = dict( data=data, layout=layout )
py.iplot( fig, validate=False)